name: CI-build

# This workflow should trigger in the following cases:
#   - The commit is any push in any branch in the repo
#   - The commit is a published PR from anyone else
#
# This setup is done to avoid duplicate runs for the same exact commits, for cases when
# the PR is done from a branch in this repo, which would already trigger the "push"
# condition. This way, only PRs from forks will actually trigger the workflow.
#
# Because we can't really check these conditions from the global triggers here, they are
# added to the two root jobs below instead. If canceled, the whole workflow will stop.
on: [push, pull_request]

jobs:
  build-and-test:
    if: >-
      github.event_name == 'push' ||
      github.event.pull_request.user.login != github.repository_owner
    strategy:
        matrix:
          configuration: [Debug, Release]
    runs-on: windows-2022
    steps:
    - name: Git checkout
      uses: actions/checkout@v4    
    - name: Install .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    
    # Build the whole solution
    - name: Build solution
      run: dotnet build -c ${{matrix.configuration}} /bl
    - name: Upload MSBuild binary log
      uses: actions/upload-artifact@v4
      with:
        name: msbuild_log_${{matrix.configuration}}
        path: msbuild.binlog
        if-no-files-found: error
    
    # Run tests
    - name: Test solution
      run: dotnet test --no--build -c ${{matrix.configuration}} -l "trx;LogFileName=VSTestResults.trx"
    
    # Publish test results
    - name: Publish test results
      uses: actions/upload-artifact@v4
      with:
        name: '**/TestResults/VSTestResults.trx'
        path: VSTestResults
        if-no-files-found: error

    # Pack solution
    - name: Pack solution
      run: dotnet pack --no-build -c ${{matrix.configuration}}    

    # Sign packages
    - name: Sign packages
      run: echo "TODO"

    # Publish build artifacts
    - name: Publish package artifacts
      uses: actions/upload-artifact@v4
      with:
        name: 'bin/nupkg/*.nupkg'
        path: Packages
        if-no-files-found: error
